<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.bestb4">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/b4icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/b4icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditItemActivity">
        </activity>
        <activity android:name=".MainFragmentActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://a78e421ea09f409798921c6eae959d37@o474809.ingest.sentry.io/5511698" />

        <activity android:name=".CreateItem" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>